<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Formulario Categoria</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>

</head>
<body>
    <div class="container mt-4 mb-3">
        <div class="row justify-content-center">
            <!-- Esta div controla a largura do quadro cinza (col-md-8) -->
            <div class="col-md-6 bg-light p-3 rounded shadow-sm">
                <h1 class="text-center mt-0">Cadastro de Categoria</h1>

                <form method="POST" th:action="@{/categoria/salvarCategoria}" th:object="${categoria}">
                    <input type="hidden" th:field="*{id}">

                    <div class="row mb-3 align-items-center">
                        <label for="nome" class="col-sm-2 col-form-label text-sm-end">Nome:</label>
                        <div class="col-sm-8">
                            <input type="text" id="nome" class="form-control" th:field="*{nome}">
                        </div>
                        <div class="text-danger"
                             th:if="${#fields.hasErrors('nome')}"
                             th:errors="*{nome}">
                        </div>
                    </div>

                    <div class="row mt-4">
                        <div class="col text-star">
                            <a type="button" th:href="@{/categoria/listarCategoria}" class="btn btn-primary">Voltar</a>
                        </div>
                        <div class="col text-center">
                            <button type="reset" class="btn btn-secondary">Limpar</button>
                            <button type="submit" class="btn btn-success me-2">Cadastrar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</body>
</html>